@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?39jjbx');
  src:  url('fonts/icomoon.eot?39jjbx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?39jjbx') format('truetype'),
    url('fonts/icomoon.woff?39jjbx') format('woff'),
    url('fonts/icomoon.svg?39jjbx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-404:before {
  content: "\e900";
  color: #fff;
}
.icon-Group-403:before {
  content: "\e901";
  color: #fff;
}
.icon-Vector-8:before {
  content: "\e902";
}
.icon-Group-398:before {
  content: "\e903";
}
.icon-Layer-3:before {
  content: "\e904";
}
.icon-Vector-7:before {
  content: "\e905";
}
.icon-Group-302:before {
  content: "\e906";
}
.icon-Layer_1:before {
  content: "\e907";
  color: #2385b0;
}
.icon-Check:before {
  content: "\e908";
  color: #e54715;
}
.icon-Group-347:before {
  content: "\e909";
}
.icon-Group-345:before {
  content: "\e90a";
}
.icon-Group-343:before {
  content: "\e90b";
}
.icon-Group-342:before {
  content: "\e90c";
}
.icon-Group-169:before {
  content: "\e90d";
}
.icon-Group-171:before {
  content: "\e90e";
}
.icon-Group-168:before {
  content: "\e90f";
}
.icon-Group-9:before {
  content: "\e910";
  color: #fff;
}
.icon-Group-8:before {
  content: "\e911";
}
